include ../partials/header.pug
section.plans-intro-wrapper
  div.plans-intro-display
    h2 Simple Choice Plans
    div.plans-choice-block
      button Plans for Phones
      button Plans for Tablets
    div.plans-image-block
      li
        h2 Customize
        p Plans for your budget start here.
      li
        img(src="/imgs/plans-guy.png")
include ../partials/footer.pug
