section.footer-wrapper
  div.footer-display
    div.footer-navigation
      div.footer-contact
        h3 Contact
        li
          a(href="#") Contact Information
        li
          a(href="#") Check Bill Status
        li
          a(href="#") View Return Policy
        li
          a(href="#") Get a Rebate
        li
          a(href="#") Find Store
      div.footer-support
        h3 Support
        li
          a(href="#") Support Home
        li
          a(href="#") Device Support
        li
          a(href="#") Bill Questions
        li
          a(href="#") Plans & Services
        li
          a(href="#") Phone Activation
      div.footer-looper
        h3 Looper
        h2 Business
        li
          a(href="#") Bring your business up to speed with 4G innovations, a powerful network, and flexible plans.

    div.footer-social
      div.social-links
        li
          a(href="#")
            i(class="fa fa-facebook-square" aria-hidden="true")
        li
          a(href="#")
            i(class="fa fa-twitter-square" aria-hidden="true")
        li
          a(href="#")
            i(class="fa fa-github-square" aria-hidden="true")
      h4 @2016 Looper Inc

script(type="text/javascript", src="/js/functions.js")
