doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/main.css")
    script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
    title Looper
  body
    section.nav-wrapper
      div.nav-icon
        span
        span
        span
      div.nav-display
        div.nav-logo
          a L
            span ooper
        li: a(href="#") HOME
        li: a(href="#") PHONES
        li: a(href="#") PLANS
        li: a(href="#") WHY LOOPER
        li: a(href="#") MY LOOPER
