include ../partials/header.pug

section.why-intro-wrapper
  div.why-intro-display
    div.why-intro-banner
      img(src="/imgs/carrier-freedom-banner.png")
      img(src="/imgs/carrier-freedom-banner-mobile.png")
section.why-freedom-wrapper
  div.why-freedom-display
    div.why-freedom-switch
      figure
        img(src="/imgs/looper-girl.jpg")
      div
        h5 Switch Now. You have nothing to lose but overage charges.
        p With Looper, we’ll cover your switching fees when you trade in your phone so you can break free from your old carrier with its costly overage charges and restrictive service contracts. It’s just one reason why more people have switched to Looper in 2015 than to any other carrier.
        h5 Our guarantee
        p We’ll guarantee your rates as long as you’re our customer, all without the restrictions of signing a long-term contract. Your rates may go down, but they will never go up. We call this approach Un-contract™.
    div.why-freedom-buyout
      div
        h5 Need help paying off your old devices? We’ve got you covered.
        p Looper was the first to offer device payoff help for customers who switch and we’re not about to stop. If you’re ready to switch to Looper, we’ll cover your remaining phone payments with a trade-in credit and Prepaid MasterCard® card.
        a(href="#") Ready to make the switch? Get started 
          i(class="fa fa-long-arrow-right" aria-hidden="true")
      figure
        img(src="/imgs/looper-guy2.jpg")
include ../partials/footer.pug
