include ./partials/header.pug
section.index-intro-wrapper
    div.index-intro-display
        div.index-intro-offer
            li
                span 2 
                span LINES 
                span for 
                span $40
                span each
            li UNLIMITED EVERYTHING
            li Terms and Conditions apply
            button: a(href="#") Get This Deal
        div.index-intro-plan
            li Galaxy S7 Edge
            li UNLIMITED 
            li EVERTHING
            button: a(href="#") Get Started
            div.intro-plan-img
                img(src="/imgs/g7eC-crop.png")
section.index-phones-wrapper
    div.index-phones-display
        ul
            li Apple iPhone 6s
            li Samsung Galaxy S7
            li Samsung Galaxy S7 Edge
            li LG G5 Plus
include ./partials/footer.pug