include ./partials/header.pug

section.index-intro-wrapper
  div.index-intro-display
    div.index-intro-offer
      li
        span 2
        span  LINES
        span  for
        span  $40
        span each
      li UNLIMITED EVERYTHING
      li *Terms and Conditions apply
      button
        a(href="#") Get This Deal
        span(class="fa fa-arrow-right" aria-hidden="true")
    div.index-intro-plan
      li Galaxy S7 Edge
      li UNLIMITED
      li EVERTHING
      li *Terms and Conditions apply
      button
        a(href="#") Get Started
        span(class="fa fa-arrow-right" aria-hidden="true")
      div.intro-plan-img
        img(src="/imgs/g7eC-crop.png")

section.index-phones-wrapper
  div.index-phones-display
    div.index-phones-more
      a(href="/phones") Show Now
        i(class="fa fa-long-arrow-right" aria-hidden="true")
    div.index-phones-list
      div.index-phones-icon-left
        i(class="fa fa-angle-left" aria-hidden="true")
      div.index-phones-icon-right
        i(class="fa fa-angle-right" aria-hidden="true")
      ul
        - for (var i = 0; i < 4; i++) {
          li
            img(src="" + phone[i].images[0] + "")
            a(href="/phones/" + phone[i]._id + "")= phone[i].name
            div.phones-rating
              i(class="fa fa-star" aria-hidden="true")
              i(class="fa fa-star" aria-hidden="true")
              i(class="fa fa-star" aria-hidden="true")
              i(class="fa fa-star" aria-hidden="true")
              i(class="fa fa-star-half-o" aria-hidden="true")
              span= '(' + phone[i].ratings+ ')'
            div.phones-pricing
              p= phone[i].contract_price
              p= 'Total Price:  ' + phone[i].total_price
        - }

section.index-coverage-wrapper
  div.index-coverage-overlay
    div.index-coverage-display
      div.coverage-info
        h2 LOOPERS COVERAGE IS BETTER THAN EVER WITH NEW
          span  LTE-X
        p We continue to improve our network in order to provide the best service possible.

section.index-accessory-wrapper
  div.index-accessory-display
    div.accessory-one
      div.accessory-one-banner
        h2 Bring Your Own Device
        img(src="http://s.tmocache.com/content/dam/tmo/en-g/q2-2016/3036-tile-a-evergreen-byod-v2.jpg")
      div.accessory-one-phone
        h2 Switch to Looper Prepaid and say goodbye to annual service contracts.
        a(href="/plans"): button Switch Today
    div.accessory-two
      h2 Accessories
      li
        img(src="http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/M/H8/MH8W2/MH8W2?wid=445&hei=445&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=8BOjT1")
        a(href="#") Beats by Dr. Dre
        div.accessory-rating
          i(class="fa fa-star" aria-hidden="true")
          i(class="fa fa-star" aria-hidden="true")
          i(class="fa fa-star" aria-hidden="true")
          i(class="fa fa-star" aria-hidden="true")
          i(class="fa fa-star-half-o" aria-hidden="true")
          span (521)


include ./partials/footer.pug
