* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif; }

.nav-wrapper {
  width: 300px;
  height: 100vh;
  background: #f5f5f5;
  position: fixed;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  z-index: 100; }
  .nav-wrapper.active-nav {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0px 5px 5px #36424a; }

.nav-icon {
  width: 30px;
  height: 32px;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 50; }
  .nav-icon.active-nav {
    -webkit-transform: translateX(245px);
    transform: translateX(245px); }
  .nav-icon span {
    width: 28px;
    height: 3px;
    background: #b92b27;
    position: absolute;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear; }
    .nav-icon span:nth-child(1) {
      top: 2px;
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    .nav-icon span:nth-child(2) {
      top: 9px;
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    .nav-icon span:nth-child(3) {
      top: 16px;
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    .nav-icon span:nth-child(1).active-nav {
      top: 9px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg); }
    .nav-icon span:nth-child(2).active-nav {
      top: 9px;
      opacity: 0;
      -webkit-transform: translateX(30px);
      transform: translateX(30px); }
    .nav-icon span:nth-child(3).active-nav {
      top: 9px;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg); }

.nav-logo {
  width: 80%;
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer; }
  .nav-logo img {
    width: 100%;
    height: 100%; }

@media (min-width: 769px) {
  .nav-logo {
    top: 60px; } }
.nav-display {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.7s ease 0.2s;
  transition: all 0.7s ease 0.2s;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px); }
  .nav-display.active-nav {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .nav-display li {
    list-style: none;
    font-size: 20px;
    margin: 10px 0 10px 25px;
    cursor: pointer;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .nav-display li:hover {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
      margin-left: 10px;
      text-shadow: 0px 0px 1px #000; }
    .nav-display li a {
      color: #36424a;
      text-decoration: none; }

.nav-links {
  margin-top: 70px; }

.footer-wrapper {
  width: 100%;
  height: 100%;
  background: #f5f5f5; }

.footer-display {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 50px 0; }

.footer-navigation {
  width: 95%;
  height: 100%;
  min-height: 200px;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid rgba(54, 66, 74, 0.34); }
  .footer-navigation li {
    list-style: none;
    margin: 10px 0; }
    .footer-navigation li a {
      color: #36424a;
      text-decoration: none; }
  .footer-navigation h3 {
    color: #36424a; }

.footer-contact {
  width: 55%;
  height: 35px;
  display: inline-block; }

@media (min-width: 600px) {
  .footer-contact {
    width: 33.33%;
    height: 100%; } }
.footer-support {
  width: 45%;
  height: 35px;
  display: inline-block;
  vertical-align: top; }

@media (min-width: 600px) {
  .footer-support {
    width: 33.33%;
    height: 100%; } }
.footer-looper {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 30px; }
  .footer-looper h2 {
    color: #36424a;
    font-size: 30px;
    font-weight: bold; }

@media (min-width: 600px) {
  .footer-looper {
    width: 33.33%;
    margin: 0;
    vertical-align: top; } }
.footer-social {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px 0; }
  .footer-social li {
    list-style: none;
    display: inline-block;
    margin: 0 7px; }
    .footer-social li a {
      color: #36424a;
      text-decoration: none; }
      .footer-social li a i {
        color: #36424a;
        font-size: 30px; }
  .footer-social h4 {
    font-weight: normal; }

.index-intro-wrapper {
  width: 100%;
  height: 100%; }

.index-intro-display {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .index-intro-display li {
    list-style: none; }

@media (min-width: 769px) {
  .index-intro-display {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; } }
.index-intro-offer {
  width: 300px;
  height: 300px;
  display: block;
  text-align: center;
  margin-top: 50px; }
  .index-intro-offer li:nth-of-type(1) {
    color: #36424a; }
    .index-intro-offer li:nth-of-type(1) span:nth-child(1) {
      font-size: 50px;
      font-weight: bold; }
    .index-intro-offer li:nth-of-type(1) span:nth-child(2) {
      font-size: 30px;
      letter-spacing: 2px; }
    .index-intro-offer li:nth-of-type(1) span:nth-child(3) {
      font-size: 20px;
      font-style: italic; }
    .index-intro-offer li:nth-of-type(1) span:nth-child(4) {
      font-size: 50px;
      font-weight: bold; }
    .index-intro-offer li:nth-of-type(1) span:nth-child(5) {
      font-size: 20px; }
  .index-intro-offer li:nth-of-type(2) {
    color: #b92b27;
    font-size: 30px; }
  .index-intro-offer li:nth-of-type(3) {
    color: rgba(30, 30, 30, 0.5);
    font-size: 10px; }

button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  overflow: hidden;
  color: #f5f5f5;
  background: #36424a;
  margin: 20px 0;
  letter-spacing: 0.6px;
  outline: none;
  border: none;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  button a {
    color: #f5f5f5;
    margin-left: 10px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  button .fa-arrow-right {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  button:hover {
    background: #b92b27; }
    button:hover a {
      margin-left: -10px; }
    button:hover .fa-arrow-right {
      -webkit-transform: translateX(10px);
      transform: translateX(10px); }

@media (min-width: 769px) {
  .index-intro-offer {
    width: 400px;
    height: 400px;
    margin-right: 50px;
    display: inline-block; } }
.index-intro-plan {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden; }
  .index-intro-plan li {
    font-size: 25px;
    letter-spacing: 1px;
    position: absolute;
    z-index: 1; }
    .index-intro-plan li:nth-of-type(1) {
      top: 25px;
      color: #36424a;
      font-weight: bold; }
    .index-intro-plan li:nth-of-type(2) {
      color: #b92b27;
      top: 70px;
      font-size: 30px; }
    .index-intro-plan li:nth-of-type(3) {
      color: #b92b27;
      top: 100px;
      font-size: 30px; }
    .index-intro-plan li:nth-of-type(4) {
      color: rgba(30, 30, 30, 0.5);
      top: 138px;
      font-size: 10px; }
  .index-intro-plan button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    background: #36424a;
    margin: 20px 0;
    overflow: hidden;
    position: absolute;
    top: 160px;
    letter-spacing: 0.6px;
    outline: none;
    border: none;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1; }
    .index-intro-plan button a {
      color: #f5f5f5;
      text-decoration: none;
      margin-left: 10px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .index-intro-plan button .fa-arrow-right {
      color: #f5f5f5;
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .index-intro-plan button:hover {
      background: #b92b27; }
      .index-intro-plan button:hover .fa-arrow-right {
        -webkit-transform: translateX(10px);
        transform: translateX(10px); }
      .index-intro-plan button:hover a {
        margin-left: -10px; }

@media (min-width: 769px) {
  .index-intro-plan {
    width: 400px; } }
.intro-plan-img {
  width: 120px;
  height: 80%;
  position: absolute;
  right: 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  z-index: 0; }
  .intro-plan-img.active-plan-img {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  .intro-plan-img img {
    width: 100%;
    height: 100%; }

@media (min-width: 769px) {
  .intro-plan-img {
    width: 200px;
    height: 400px; } }
.index-phones-wrapper {
  width: 100%;
  height: 100%;
  background: #f7f9fa;
  position: relative; }

.index-phones-display {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.index-phones-more {
  position: absolute;
  top: 15px;
  right: 15px; }
  .index-phones-more a {
    color: #b92b27;
    text-decoration: none; }
    .index-phones-more a i {
      margin: 5px 5px; }
    .index-phones-more a:hover {
      text-decoration: underline; }

.index-phones-icon-left {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40%;
  left: 0;
  font-size: 30px;
  cursor: pointer;
  z-index: 80; }

.index-phones-icon-right {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40%;
  right: 0;
  font-size: 30px;
  cursor: pointer;
  z-index: 80; }
  .index-phones-icon-right i {
    position: absolute;
    right: 0; }

@media (min-width: 560px) {
  .index-phones-icon-right {
    display: none; }

  .index-phones-icon-left {
    display: none; } }
.index-phones-list {
  width: 300px;
  height: 100%;
  overflow-x: hidden;
  position: relative; }
  .index-phones-list ul {
    width: 1200px;
    height: 100%;
    list-style: none;
    text-align: center;
    overflow-x: hidden;
    position: relative;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .index-phones-list li {
    width: 300px;
    height: 100%;
    text-align: center;
    margin: 20px auto;
    display: inline-block; }
    .index-phones-list li img {
      width: 100%;
      height: 100%; }
    .index-phones-list li a {
      color: #36424a;
      font-size: 18px;
      text-decoration: none;
      display: block; }
      .index-phones-list li a:hover {
        font-weight: bold; }

@media (min-width: 560px) {
  .index-phones-list {
    width: 100%; }
    .index-phones-list ul {
      width: 100%; }
    .index-phones-list li {
      width: 50%; } }
@media (min-width: 769px) {
  .index-phones-list {
    width: 100%; }
    .index-phones-list ul {
      width: 100%; }
    .index-phones-list li {
      width: 33.33%; }
      .index-phones-list li:nth-of-type(3) {
        display: none; } }
.phones-rating {
  width: 100%;
  height: 100%; }
  .phones-rating i {
    color: #b92b27;
    margin: 2px; }
  .phones-rating span {
    color: #36424a;
    font-weight: bold; }

.phones-pricing {
  width: 100%;
  height: 100%; }
  .phones-pricing p {
    color: #36424a;
    font-size: 14px; }
    .phones-pricing p:nth-of-type(2) {
      font-weight: bold; }

.index-coverage-wrapper {
  width: 100%;
  height: 600px;
  background-image: url("/imgs/index-coverage-back.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.index-coverage-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

.index-coverage-display {
  width: 100%;
  height: 100%;
  min-height: 500px; }

.coverage-info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .coverage-info h2 {
    width: 310px;
    color: #f5f5f5;
    font-size: 35px;
    margin: 30px 0; }
  .coverage-info p {
    width: 310px;
    color: #f5f5f5;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px; }
  .coverage-info span {
    color: #b92b27;
    text-decoration: underline; }

@media (min-width: 769px) {
  .coverage-info {
    width: 60%;
    height: 100%; } }
.index-accessory-wrapper {
  width: 100%;
  height: 100%;
  min-height: 500px;
  padding: 80px 0;
  background: #f7f9fa; }

@media (min-width: 900px) {
  .index-accessory-wrapper {
    background: transparent; } }
.index-accessory-display {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

@media (min-width: 769px) {
  .index-accessory-display {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; } }
.accessory-one {
  width: 100%;
  height: 100%;
  background: #f7f9fa;
  text-align: center; }

@media (min-width: 769px) {
  .accessory-one {
    width: 50%;
    margin: 0 10px;
    padding: 10px; } }
@media (min-width: 900px) {
  .accessory-one {
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; } }
.accessory-one-banner {
  width: 100%;
  max-width: 320px;
  margin: 0 auto; }
  .accessory-one-banner img {
    width: 70%;
    margin: 10px 0; }
  .accessory-one-banner h2 {
    color: #36424a;
    font-size: 20px;
    margin: 10px 0; }

@media (min-width: 900px) {
  .accessory-one-banner img {
    width: 100%; } }
.accessory-one-phone {
  width: 95%;
  height: 100%; }
  .accessory-one-phone h2 {
    color: #36424a;
    font-size: 20px;
    font-weight: light;
    font-style: italic;
    margin-top: 15px; }

.accessory-two {
  width: 100%;
  height: 100%;
  background: #f7f9fa;
  padding: 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .accessory-two h2 {
    color: #36424a;
    font-size: 20px;
    margin: 10px 0;
    text-align: left; }
  .accessory-two li {
    width: 100%;
    height: auto;
    list-style: none;
    text-align: center; }
    .accessory-two li img {
      width: 90%;
      max-width: 400px;
      margin: 10px 0; }
    .accessory-two li a {
      color: #36424a;
      text-decoration: none;
      font-size: 20px;
      margin: 10px 0;
      display: block; }
      .accessory-two li a:hover {
        font-weight: bold; }

@media (min-width: 769px) {
  .accessory-two {
    width: 50%;
    margin: 0 10px;
    padding: 10px; } }
@media (min-width: 900px) {
  .accessory-two {
    width: 50%; }
    .accessory-two h2 {
      font-size: 20px; }
    .accessory-two img {
      width: 100%; } }
.accessory-rating {
  width: 100%;
  height: 100%; }
  .accessory-rating i {
    color: #b92b27;
    margin: 2px; }
  .accessory-rating span {
    color: #36424a;
    font-weight: bold; }

.phones-intro-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("/imgs/phones-page-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.phones-intro-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.phones-intro-display {
  width: 100%;
  height: 500px;
  max-width: 1080px;
  margin: 0 auto;
  position: relative; }

.phones-intro-switch {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 20%;
  text-align: center; }
  .phones-intro-switch figure {
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
    .phones-intro-switch figure.active-phone-switch {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .phones-intro-switch figure h2 {
      color: #f5f5f5;
      font-size: 55px; }
      .phones-intro-switch figure h2 span {
        color: #b92b27; }
    .phones-intro-switch figure p {
      color: #f5f5f5;
      letter-spacing: 1.5px; }
      .phones-intro-switch figure p:nth-of-type(1) {
        font-size: 26px;
        font-weight: bold; }
      .phones-intro-switch figure p:nth-of-type(2) {
        font-size: 22px;
        font-style: italic; }

@media (min-width: 769px) {
  .phones-intro-switch {
    width: 600px;
    text-align: left;
    padding-top: 0;
    position: absolute;
    right: 0;
    top: 100px;
    padding-left: 20px;
    border-left: 1px solid #f5f5f5; }
    .phones-intro-switch figure p:nth-of-type(1) {
      font-size: 30px; } }
.phones-list-wrapper {
  width: 100%;
  height: 100%; }

.phones-list-display {
  width: 100%;
  height: 100%;
  margin: 80px auto;
  max-width: 1080px;
  position: relative; }
  .phones-list-display ul {
    list-style: none; }
    .phones-list-display ul li {
      width: 100%;
      text-align: center;
      display: inline-block;
      margin: 30px 0; }
      .phones-list-display ul li img {
        width: 100%;
        height: 100%; }
      .phones-list-display ul li a {
        color: #36424a;
        text-decoration: none; }
        .phones-list-display ul li a:hover {
          font-weight: bold; }

@media (min-width: 560px) {
  .phones-list-display {
    width: 100%; }
    .phones-list-display ul {
      width: 100%; }
      .phones-list-display ul li {
        width: 50%; } }
@media (min-width: 769px) {
  .phones-list-display {
    width: 100%; }
    .phones-list-display ul {
      width: 100%; }
      .phones-list-display ul li {
        width: 33.33%; } }
.phones-search-bar {
  width: 300px;
  margin: 0 auto; }
  .phones-search-bar form {
    height: 60px;
    border-bottom: 2px solid #36424a; }
  .phones-search-bar input {
    width: 250px;
    height: auto;
    font-size: 22px;
    outline: none;
    border: none;
    padding: 6px;
    background: transparent; }
  .phones-search-bar button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #36424a;
    background: transparent;
    display: inline-block; }

@media (min-width: 600px) {
  .phones-search-bar {
    width: 300px;
    height: 100px;
    position: absolute;
    top: -80px;
    left: 10px; } }
.plans-intro-wrapper {
  width: 100%;
  height: 550px;
  overflow-x: hidden; }

.plans-intro-display {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  position: relative; }
  .plans-intro-display h2 {
    color: #36424a;
    font-size: 35px;
    padding-top: 50px; }

@media (min-width: 769px) {
  .plans-intro-display h2 {
    font-size: 50px; } }
.plans-choice-block {
  width: 100%;
  height: auto;
  padding: 20px 0; }
  .plans-choice-block button {
    font-size: 20px;
    width: 225px;
    height: 50px;
    margin: 20px 10px;
    border-radius: 10px; }
    .plans-choice-block button i {
      font-size: 28px;
      margin: 0 5px; }

@media (min-width: 769px) {
  .plans-choice-block {
    padding: 50px 0; }
    .plans-choice-block button {
      margin: 0 30px; } }
.plans-image-block {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid rgba(30, 30, 30, 0.5); }
  .plans-image-block li {
    width: 50%;
    display: inline-block;
    list-style: none;
    position: absolute;
    bottom: 0; }
    .plans-image-block li:nth-of-type(1) {
      width: 50%;
      text-align: left;
      position: absolute;
      bottom: 50px;
      left: 10px; }
      .plans-image-block li:nth-of-type(1) h2 {
        color: #36424a;
        font-size: 36px;
        margin: 10px 0; }
      .plans-image-block li:nth-of-type(1) p {
        color: rgba(30, 30, 30, 0.5);
        font-size: 22px;
        font-weight: bold;
        margin: 10px 0; }
    .plans-image-block li:nth-of-type(2) {
      position: absolute;
      bottom: 0;
      right: 10px; }
      .plans-image-block li:nth-of-type(2) img {
        margin-left: 20%; }

@media (min-width: 769px) {
  .plans-image-block li:nth-of-type(1) {
    width: 40%;
    bottom: 80px;
    left: 100px; } }
.plans-plans-wrapper {
  width: 100%;
  height: 100%; }

.plans-plans-display {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 50px 0; }

.plans-plans-total {
  width: 320px;
  height: 100%;
  text-align: center;
  margin: 0 auto; }
  .plans-plans-total h3 {
    color: rgba(30, 30, 30, 0.5);
    font-size: 20px; }
  .plans-plans-total p {
    color: rgba(30, 30, 30, 0.5);
    font-size: 13px; }
  .plans-plans-total h5 {
    font-size: 16px;
    margin: 10px 0; }
  .plans-plans-total ul {
    display: inline-block; }
    .plans-plans-total ul li {
      color: rgba(30, 30, 30, 0.5);
      display: inline-block; }
      .plans-plans-total ul li:nth-of-type(1) {
        font-size: 35px;
        vertical-align: top;
        margin-top: 16px; }
      .plans-plans-total ul li:nth-of-type(3) {
        font-size: 25px; }
      .plans-plans-total ul li span {
        color: #36424a;
        font-size: 85px; }

@media (min-width: 769px) {
  .plans-plans-total {
    width: 100%; } }
.plans-plans-options {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0; }
  .plans-plans-options li {
    display: inline-block;
    margin: 0 10px; }
    .plans-plans-options li button {
      width: 120px;
      height: 55px;
      border: 0.5px solid rgba(30, 30, 30, 0.5); }
      .plans-plans-options li button:nth-of-type(1) {
        color: #36424a;
        font-weight: bold;
        background: #f5f5f5; }
      .plans-plans-options li button:nth-of-type(2) {
        color: #36424a;
        font-weight: bold;
        background: #f5f5f5; }
      .plans-plans-options li button:nth-of-type(3) {
        color: #36424a;
        font-weight: bold;
        background: #f5f5f5; }
      .plans-plans-options li button:nth-of-type(4) {
        color: #36424a;
        font-weight: bold;
        background: #f5f5f5; }
      .plans-plans-options li button.active-plans-button {
        color: #f5f5f5;
        background: #36424a; }
    .plans-plans-options li span {
      display: block; }
  .plans-plans-options button {
    width: 300px;
    height: 55px; }
    .plans-plans-options button h2 {
      font-size: 18px; }
    .plans-plans-options button span {
      font-size: 14px; }

.why-intro-wrapper {
  width: 100%;
  height: 100%;
  background: #f7f9fa;
  padding-top: 50px; }

.why-intro-display {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto; }

.why-intro-banner {
  width: 100%;
  height: 100%; }
  .why-intro-banner img {
    width: 100%;
    height: 100%; }
    .why-intro-banner img:nth-of-type(1) {
      display: none; }
    .why-intro-banner img:nth-of-type(2) {
      display: intial; }

@media (min-width: 700px) {
  .why-intro-banner img {
    width: 100%;
    height: 100%; }
    .why-intro-banner img:nth-of-type(1) {
      display: initial; }
    .why-intro-banner img:nth-of-type(2) {
      display: none; } }
.why-freedom-wrapper {
  width: 100%;
  height: 100%; }

.why-freedom-display {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 0; }

@media (min-width: 769px) {
  .why-freedom-display {
    padding: 80px 0; } }
.why-freedom-switch {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(30, 30, 30, 0.5); }
  .why-freedom-switch div {
    width: 96%;
    display: inline-block;
    margin: 10px; }
  .why-freedom-switch h5 {
    color: #36424a;
    font-size: 20px; }
  .why-freedom-switch p {
    color: rgba(30, 30, 30, 0.5);
    font-size: 16px;
    margin: 20px 0; }
  .why-freedom-switch figure {
    width: 300px;
    display: inline-block;
    vertical-align: top; }
    .why-freedom-switch figure img {
      width: 100%;
      height: 100%; }

@media (min-width: 769px) {
  .why-freedom-switch {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .why-freedom-switch div {
      width: 68%;
      margin: 0 5px; }
    .why-freedom-switch figure {
      width: 30%; } }
.why-freedom-buyout {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .why-freedom-buyout div {
    width: 96%;
    margin: 0 5px; }
  .why-freedom-buyout h5 {
    color: #36424a;
    font-size: 20px; }
  .why-freedom-buyout p {
    color: rgba(30, 30, 30, 0.5);
    font-size: 16px;
    margin: 20px 0; }
  .why-freedom-buyout a {
    color: #b92b27;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .why-freedom-buyout a:hover {
      text-decoration: underline; }
  .why-freedom-buyout figure {
    width: 65%;
    min-width: 300px; }
    .why-freedom-buyout figure img {
      width: 100%;
      height: 100%; }

@media (min-width: 769px) {
  .why-freedom-buyout {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .why-freedom-buyout div {
      width: 68%;
      margin: 0 5px; }
    .why-freedom-buyout figure {
      width: 30%; } }
.details-wrapper {
  width: 100%;
  height: 500px; }

.details-display {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.details-phone-img {
  width: 50%;
  height: 100%;
  background: #f5f5f5; }

.details-phone-info {
  width: 50%;
  height: 100%;
  background: #f7f9fa; }
