include ../partials/header.pug

section.details-wrapper
    div.details-display
      div.details-phone-img
        img(src="" + phone.images[0] + "")
      div.details-phone-info


include ../partials/footer.pug
